.back{
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.heart{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: red;
    height: 200px;
    width: 200px;
    transform: rotate(-45deg);
    animation: backdiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart:after{
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 100px;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
.heart:before{
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    top: -100px;
    left: 0px;
}
@keyframes backdiv{
    50%{
        background: #ffe6f2;
    }
}
@keyframes beat{
    0%{
        transform: scale(1) rotate(-45deg);
    }
    50%{
        transform: scale(0.5) rotate(-45deg);
    }
    
}
.site-header__title{
    position: absolute;   
    font-size: 60px;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.main-content__body{
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 10%;
    right: 10%;
    justify-content: center;
}
.site-footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 40%;
}
